@import '~antd/dist/antd.css';

.ant-select-multiple .ant-select-selection-item {
  height: 27px;
}

.App {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 90vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 4px #bfbfbf;
  padding: 20px;
}

.App-header {
  width: 100%;
  text-align: center;
}
